 *{margin:0;padding:0}
 i{font-style:normal;}
 a{text-decoration: none;}
.search-back{width:100%;}
.search{width:1200px;height:80px;background:#fff;margin:0 auto;}
.search .logo{width:213px;height:46px;float:left;margin-top:20px;}
.search form{width:565px;height:40px;float:left;margin-top:20px;margin-left:80px;margin-right:100px;}
.search .jbr{width:230px;height:80px;float:left;}

.team{position:relative;width:100px;float:left;border:2px solid #D37;border-right:1px solid #D37;}
.team .teamtit{width:100px;height:36px;margin-left:10px;color:#666;font-size:14px; line-height: 36px;background:url(../imgs/bg.png) center no-repeat;background-position:-1113px -115px;  }
.team .teamSon{display: none;z-index: 4; width:100px;position:absolute;background:#fff;font-size:14px;line-height: 36px;}
.team .teamSon a{text-decoration: none;padding-left:10px;font-size:14px;color:#878787;float:left;width:90px;height:36px;border-bottom: 1px solid #eee;}
.team .teamSon a:hover{color:#DD3377;background: #fef2f9;}

.moveto{width:112px;height:36px;float:left;border:2px solid #D37;border-left:none;border-right:none;position:relative;}
.movetotit{line-height: 36px;color:#999999; font-size:12px;margin-left:10px;background:url(../imgs/bg.png) center no-repeat;background-position:-1103px -115px;}
.movetotit span{color:#666;}
.moveto .movetoSon{display: none;z-index: 5; position:absolute;width:400px;top:36px;background:#fff;font-size:12px;padding-left:10px;}
.moveto .movetoSon p{font-size:12px;color:#878787;height:33px;line-height: 33px;}
.moveto .movetoSon .dd1{width:390px;border-bottom: 1px solid #999999;margin-bottom: 10px;}
.moveto .movetoSon a{height:24px;line-height: 24px;padding-right: 10px;color:#666;}
.moveto .movetoSon a:hover{color:#DD3377;text-decoration: solid;}
.movetoSon dl{margin-bottom: 18px;}
.movetoSon dt{width:38px;margin-top:5px;}
.movetoSon dt,.movetoSon dd{float:left;}
.movetoSon dd{width:340px;}
.form1 .input1{width:325px;height:36px;float:left;border-top:2px solid #D37;border-bottom: 2px solid #DD3377;outline: none;border-left:1px solid #878787;padding-left:10px; }
.form1 .searchinput{width:96px;height:40px;float:left;border: none;background:#DD3377; }

.banAlb-back{width:100%;background: url("../imgs/foreign/banbg.png") center; }
 .banAlb{position:relative;width:1262px;height:392px;margin:0 auto;}
.ban{width:900px;height:345px;margin-left:20px;;margin-top:40px;position:relative;float:left;}
.ban .bantit .banthem a:hover{color:orangered;}
 .ban .bantititem{width:762px;height:327px;float:left;position:absolute;left:289px;}

.ban .bantit{height:69px;width:255px;z-index: 3; position:absolute; background-color:#fff;padding:0px 15px;border:1px solid #fff;border-left:4px solid #fff;}
 .ban .bantitl{height:65px;width:255px;z-index: 3; position:absolute; background-color:#fff;padding:0px 15px;border:1px solid #fff;border-left:4px solid #fff;}

.ban .bantit0{top:0px;}
 .ban .bantit1{top:70px;}
 .ban .bantit2{top:140px;}
 .ban .bantit3{top:210px;}
 .ban .bantit4{top:280px;}
.ban .bantit .banthem{width:255px;height:67px;float:left;border-bottom: 1px dashed #eee;}
 .ban .bantit .banthem h3{font-weight: 200;font-family: "微软雅黑";font-size:16px;line-height: 34px;height:34px;text-indent: 10px;}
 .ban .bantitl .banthem h3{font-weight: 200;position:relative; font-family: "微软雅黑";font-size:16px;line-height: 34px;height:34px;text-indent: 10px;}
 .ban .bantitl .banthem h3 i{font-style: normal;position:absolute;top:6px;width:32px;background:cyan;height:20px;margin-left:5px;background:url("../imgs/foreign/icon.png") -84px 0px no-repeat; }
 .ban .bantit .banthem p{padding-left:10px;width:260px;overflow: hidden;}
 .ban .bantit .banthem p a{font-size:12px;color:#666;line-height: 18px;padding:0 5px;}

.ban  .bantititem .banitem{width:760px;height:350px;background:#fff;z-index: 3;position:absolute;top:0px;display:none;}
.ban .bantititem  .banitem  dl{width:510px;height:70px;line-height: 50px;float:left;margin-left:5px;}
 .ban .bantititem .banitem  dl dt{float:left;font-weight: 100;font-size:14px;color:#000;width:80px;}
 .ban .bantititem .banitem  dl dd{width:430px;height:70px;overflow: hidden;float:left;}
 .ban .bantititem  .banitem  dl a{font-weight: 100;font-size:12px;color:#666;margin-right:10px;}
 .ban .bantititem  .banitem div{right:0px;top:0px;position: absolute;}
 .ban .bantititem  .banitem div img{height:345px;width:240px;}
 .ban .bantititem .banitem  dl a:hover{color:orangered;}
.ban  .on{border:1px solid #d37;z-index:5;height:69px;border-left:4px solid #d37;background:#fff;border-right:none;
    position: absolute;width:256px;}
 .ban .bantititem  .active{border:1px solid #d37;z-index: 4;display: block;}

.banAlb .banright{width:156px;height:345px;float:right;margin-top: 45px;margin-right:35px;}
 .banAlb .banright img{float:left;height:115px;}

.LBT{width:760px;height:345px;background: cyan;position:absolute;left:310px;top:45px;overflow: hidden;}
.LBitem{width:900%;height:345px;position:relative;}
 .LBitem img{width:760px;height:345px;float: left;}
.LBbtnL{position:absolute;left:0px;top:40%;z-index: 2; display:none;cursor:pointer;font-size:68px;color: #fff;background-color: #000;opacity:0.5;filter:alpha(opacity=50);}
 .LBbtnR{position:absolute;right:0px;top:40%;z-index: 2; display:none;cursor:pointer;font-size:68px;color:#fff;background-color: #000;opacity:0.5;filter:alpha(opacity=50);}
 .banAlb .conLBitem{position:absolute;z-index: 2;bottom: 10px;left:50%;}
 .banAlb .conLBitem span{width:32px;height:6px;background:#fff;float: left;margin-right:6px;}
 .banAlb .conLBitem .LBSon{background:#dd3377;}

.day-back,.week-back,.rim-back,.huodong-back,.tour-back,.theme-back{width:100%;}
.day,.week,.rim,.huodong,.theme{width:1200px;height:300px;margin: 0px auto;margin-top:40px;}
 .day h2,.week h2,.rim h2,.huodong h2,.tour h2,.theme h2{font-family: "微软雅黑";font-weight: normal;margin-bottom: 10px;}
 .day h2 span,.rim h2 span ,.huodong span,.theme h2 span{font-size:12px;font-weight: normal;float:right;line-height:28px; }
.dayitem{width:1200px;height:272px;}
.dayitem dl{width:285px;height:270px;background:#fff;float:left;margin-right:15px;position:relative;}
 .dayitem dl dt{width:285px;height:190px;position:relative;}
 .dayitem dl dt img{width:285px;height:190px;}
 .dayitem dl dd{width:285px;}
 .dayitem dl dt p{position:absolute;left:0px;bottom: 0px;background: #000;opacity:0.5;filter:alpha(opacity=50);width:100%;height:34px;}
 .dayitem dl dt div{position:absolute;left:0px;bottom: 0px;font-size:12px;color:#fff;line-height: 34px;z-index: 2;width:100%;}
 .dayitem dl dt div span{font-size:18px;font-family:"微软雅黑";line-height:34px;text-align:center;width:60px;height:34px;float:left;margin-right:5px;background:#dd3377;}
 .dayitem dl dt div i{float:right;}
 .dayitem dl dd{font-size:14px;color:#666;margin-top:5px;}
 .dayitem dl dd a{color:#000;}

 .dayitem dl dd .daya{font-size:14px;line-height: 20px;}
 .dayitem dl dd span{font-size:14px;color:red;}
 .dayitem dl dd span strong{font-size:24px;color:red;}
 .dayitem dl dd del{color:#878787;}
 .dayitem dl dd .daybuy{float:right;width:103px;height:30px;background:#f60;color:#fff;line-height: 30px;text-align: center;}


.week .weekleft{width:285px;height:226px;position: relative;float:left;}
 .week .weekleft div{position:absolute;width:164px;height:60px;left:50px;bottom:20px;background: #fff;opacity:0.8;filter:alpha(opacity=80);}
 .week .weekleft div p{font-size:18px;font-family:"微软雅黑";width:80%;text-align: center;line-height:35px;border-bottom: 1px dashed #000;margin-left:20px; }
 .week .weekleft div a{font-size:12px;font-family:"微软雅黑"; width:80%;text-align: center;line-height: 25px;color:red;margin-left:20px;display: block;}
 .week .weekright{width:895px;height:226px;float:left;}
 .week .weekright dl{width:285px;height:226px;float:left;position:relative;margin-left:13px;}
 .week .weekright dl dt{width:285px;height:190px;position:relative;}
 .week .weekright dl dt img{width:285px;height:190px;}
 .week .weekright dl dt p{position:absolute;right:10px;bottom: 10px;font-family: "微软雅黑";color:#fff;font-size:12px;}
 .week .weekright dl dd{width:100%;height:40px;line-height: 40px;color:#fff;font-family:"微软雅黑"; }
 .week .weekright dl dd a{color:#000;font-size:14px;}
 .week .weekright dl dd span{color:red;font-size:14px;font-family:"微软雅黑";float:right;}
 .week .weekright dl dd span strong{font-size: 18px;}
 .week .weekright dl dd span i{color:#878787;}

.rim{margin-top:0px;}
.rim h2 i{float:left; margin-right:10px;margin-top:4px; font-size:12px;font-weight: normal;line-height: 24px;padding:0px 14px;height:24px;border:1px solid #fff;border-radius: 14px;}
.rim h2 strong{float:left;font-weight: normal;margin-right:50px;}
 .rim h2 i:hover{ border:1px solid orangered;border-radius: 14px;}
 .rim h2 .rimion{background:orangered;color:#fff;}
 .rim h2{width:100%;height:40px;margin-bottom: 10px;margin-top:0px;}
 .rim .rimitem{width:1220px;height:228px;background:#fff;margin:0 auto;position:absolute;}
 .rim .rimitems{width:1220px;height:228px;background:#fff;margin:0 auto;position: relative;}
 .rim .rimitem dl{width:285px;height:226px;float:left;position:relative;margin-right:20px;}
 .rim .rimitem dl dt{width:285px;height:190px;position:relative;}
 .rim .rimitem dl dt img{width:285px;height:190px;}
 .rim .rimitem dl dt p{position:absolute;right:10px;bottom: 10px;font-family: "微软雅黑";color:#fff;font-size:12px;}
 .rim .rimitem dl dd{width:100%;height:40px;line-height: 40px;color:#fff;font-family:"微软雅黑"; }
 .rim .rimitem dl dd a{color:#000;font-size:14px;}
 .rim .rimitem dl dd span{color:red;font-size:14px;font-family:"微软雅黑";float:right;}
 .rim .rimitem dl dd span strong{font-size: 18px;}
 .rim .rimitem dl dd span i{color:#878787;}

 .huodong{margin-top:10px;height:200px;}
 .huodong .huodongitems{width:1220px;margin:0 auto;height:160px;}
 .huodong .huodongitems .huodongitem{float:left;margin-right:18px;position: relative;}


 .tour{width:1200px;height:523px;margin:40px auto;}
 .tour .touritem{width:1200px;height:485px;border:1px solid #eee;}
 .tour .touritem .tourleft{width:285px;height:483px;float:left;position: relative;}
 .tour .touritem .tourright{width:915px;height:483px;float:left;}
 .tourleft .tlimgs{width:100%;height:100%;position:relative;}
 .tourleft .tlimgs img{position:absolute;}
 .tourleft .tourcons{width:180px;height:280px;position:absolute;right:-5px;top:30px;}
 .tourleft .tourcons div{width:180px;height:50px;}
 .tourleft .tourcons div span{float:left;width:150px;height:30px;border:1px solid #eee;border-radius:15px;background:#fff;text-align: center;line-height: 30px;font-family: "微软雅黑";font-size:16px; }
 .tourleft .tourcons div i{float:right;width:10px;height:10px;background:#fff;border:1px solid #eee;border-radius: 5px;margin-top:10px;}
 .tourleft .tourcons div  .active{background: orange;border: 1px solid orange;color:#fff;}
 .tourleft .tourcons div:hover span{border: 1px solid orange;color:red;}
 .tourleft .tourcons div:hover i{border: 1px solid orange;color:red;}
 .tourleft .tourcons div:hover .active{border: 1px solid orange;color:#fff;}
 .tourright .tourritem dl{width:285px;height:226px;float:left;position:relative;margin-left:20px;margin-top:15px;}
 .tourright .tourritem dl dt{width:285px;height:190px;position:relative;}
 .tourright .tourritem dl dt img{width:285px;height:190px;}
 .tourright .tourritem dl dd{width:100%;height:40px;line-height: 40px;color:#fff;font-family:"微软雅黑"; }
 .tourright .tourritem dl dd a{color:#000;font-size:14px;}
 .tourright .tourritem dl dd span{color:red;font-size:14px;font-family:"微软雅黑";float:right;}
 .tourright .tourritem dl dd span strong{font-size: 18px;}
 .tourright .tourritem dl dd span i{color:#878787;}

 .theme{margin-top:0px;height:540px;}
 .theme h2 i{float:left; margin-right:10px;margin-top:4px; font-size:12px;font-weight: normal;line-height: 24px;padding:0px 14px;height:24px;border:1px solid #fff;border-radius: 14px;}
 .theme h2 strong{float:left;font-weight: normal;margin-right:50px;}
 .theme h2 i:hover{ border:1px solid orangered;border-radius: 14px;}
 .theme h2 .rimion{background:orangered;color:#fff;}
 .theme h2{width:100%;height:40px;margin-bottom: 10px;margin-top:0px;}
 .theme .themeitem{width:1220px;height:456px;background:#fff;margin:0 auto;position:absolute;}
 .theme .themeitems{width:1220px;height:456px;background:#fff;margin:0 auto;position: relative;}
 .theme .themeitem dl{width:285px;height:226px;float:left;position:relative;margin-right:20px;margin-top: 10px;}
 .theme .themeitem dl dt{width:285px;height:190px;position:relative;}
 .theme .themeitem dl dt img{width:285px;height:190px;}
 .theme .themeitem dl dd{width:100%;height:40px;line-height: 40px;color:#fff;font-family:"微软雅黑"; }
 .theme .themeitem dl dd a{color:#000;font-size:14px;}
 .theme .themeitem dl dd span{color:red;font-size:14px;font-family:"微软雅黑";float:right;}
 .theme .themeitem dl dd span strong{font-size: 18px;}
 .theme .themeitem dl dd span i{color:#878787;}


 .why-back{width:100%;}
 .why{width:1220px;margin:0 auto;}
 .why img{margin-top:20px;margin-left:10px;margin-bottom:20px;}
 .baozheng{width:1200px;margin:0 auto;height:70px;border:1px solid #eee;background:#fbfbfb;}
 .baozheng a{width:299px;border-right: 1px solid #eee;height:50px;display: block;float:left;margin-top:10px;}
 .baozheng a img{margin-left:20px;}
 .footer-back{width:100%;}
 .footer{width:1200px;margin:0 auto;margin-top:30px;}
 .footer a:hover{color:orangered;}
 .footer p{font-size:12px;color:#999;width:1200px;text-align: center;line-height: 22px;}
 .footer p a{color:#999;}
 .linka{width:1200px;height:35px;background: url(../imgs/imghf8.png) 220px 0px no-repeat;margin-top:10px;margin-bottom: 10px;}
 .linka a{width:52px;height:35px;float:left;margin-left:2px;opacity:0.4;}
 .linka .linka1{margin-left:220px;}
 .linka .linka3{width:75px;}
 .linka .link6{width:84px;}
 .linka .link7{width:84px;}
 .linka .link10{width:84px;}
 .linka .link11{width:90px;}
 .footer hr{margin-bottom: 10px;color:#eee;}
 .footer .leftp{text-align: left;}
 .footer .leftp a{margin-right:8px;}
 .footer .leftp span{height:60px;display:block;width:60px;float:left;}