html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-size: 12px;
	font-family: tahoma, arial, 宋体, sans-serif;
}

html {
	width: 100%;
}

.sideright {
	width: 80px;
	height: 500px;
	background: rgba(255, 255, 255, .80);
	position: fixed;
	right: 0;
	top: 50%;
	margin: -250px 0 0 0px;
	z-index: 3333;
	display: none;
}
.siderc {
	width: 75px;
	height: 30px;
	line-height: 30px;
	display: block;
	position: relative;
	cursor: pointer;
	color: #000;
}

#header {
	width: 100%;
	position: relative;
	z-index: 62;
	background: #fff;
	height: 163px;
}

.topBar {
	width: 100%;
	height: 30px;
	position: relative;
	background: #fff;
}

.topNav {
	height: 30px;
	position: relative;
}

.topLogo {
	position: absolute;
	left: 50%;
	top: 16px;
	width: 205px;
	height: 135px;
	margin-left: -615px;
}

.topNav .topnav {
	padding-left: 620px;
}

.topNav .topnav li {
	float: left;
}

.topNav .topnav a {
	padding: 0 18px;
}

.topNav .topnav a {
	color: #999999;
	line-height: 30px;
}

.topNav .topnav .zhuce,
.fous {
	border-right: 1px solid #999999;
}

.topNav .topnav .focus {
	position: relative;
}

.topNav .topnav .focus .san {
	position: absolute;
	top: 5px;
	right: 8px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #999;
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.topNav .topnav .focus:hover {
	webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.topNav .topnav .gou {
	background: url(../images/p_07_new.png)no-repeat 8px center;
	padding-left: 24px;
}

.topLogo .logo {
	margin: 18px;
	width: 42px;
	height: 100px;
}

.secoo {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #fff url(../images/secoo_min_logo.png) no-repeat center;
	top: 0;
	left: 0;
	z-index: 92;
	display: none;
	box-shadow: 0 0 3px #ccc;
}

.searchs {
	margin-left: 300px;
	position: absolute;
	left: 0;
	top: 8px;
}

.searchs .txt1 {
	width: 584px;
	height: 29px;
	line-height: 25px;
	border: 0;
	color: #999;
	font-family: "宋体";
	border: 2px solid #463b7f;
}

.searchs .btn1 {
	width: 69px;
	height: 35px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	background: #463B7F;
	border: none;
	margin-left: -5px;
	font-size: 14px;
}

.searchBar {
	width: 1200px;
	margin: 0 auto;
	height: 133px;
	position: relative;
	z-index: 89;
}

.searchBar .searchC {
	position: absolute;
	left: 249px;
	top: 25px;
	z-index: 5;
}

.searchBar .searchC .txt {
	width: 392px;
	height: 29px;
	line-height: 25px;
	border: 0;
	color: #999;
	font-family: "宋体";
	border: 2px solid #463b7f;
}

.searchC .btn {
	width: 69px;
	height: 35px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	background: #463B7F;
	border: none;
	margin-left: -5px;
	font-size: 14px;
}

.searchHot {
	position: absolute;
	left: 249px;
	top: 70px;
	z-index: 5;
}

.searchHot .searchH li {
	float: left;
}

.searchHot .searchH li a {
	color: #999999;
	margin-right: 25px;
}

.searchHot .searchH li a:hover {
	color: #e93b39;
	text-decoration: underline;
}

.headnav {
	position: absolute;
	right: 25px;
	bottom: 0;
	overflow: hidden;
	width: 926px;
	height: 25px;
	padding-top: 20px;
}

.headnav li {
	float: left;
}

.headnav li a {
	color: #333;
	margin: 0 20px;
	font: 14px/20px "microsoft yahei";
	text-align: center;
	height: 25px;
}

.headnav li a:hover,
.brandlogo p a:hover,
.morebrand a:hover {
	color: #463B7F;
	cursor: pointer;
}

.headnav li .home {
	margin-left: 0;
}

.headnav li .free {
	position: relative;
}

.headnav li .free img {
	position: absolute;
	top: -15px;
	right: -20px;
}

.navApp {
	position: absolute;
	right: 11px;
	top: 4px;
	background: url(../images/apps_bg.gif)no-repeat;
	width: 96px;
	height: 128px;
	overflow: hidden;
}

.firstside {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -600px;
	z-index: 91;
}

.firstside .sideTop {
	width: 180px;
	height: 34px;
	background: #382f6b;
	text-align: center;
}

.firstside .sideTop a {
	width: 180px;
	height: 34px;
	font: normal 14px/32px "microsoft yahei";
	color: #fff;
	text-indent: -2px;
}

.firstside .sideMain {
	background: #463b7e;
	position: relative;
	padding-bottom: 2px;
}

.firstside .sideMain dl {
	width: 180px;
	height: 64px;
	z-index: 61;
	overflow: hidden;
	background: #463b7f;
}

.firstside .sideMain dl dt {
	height: 50px;
	overflow: hidden;
	width: 162px;
	margin: 0 2px;
	padding: 12px 0 0 18px;
}

.firstside .sideMain dl dt b {
	color: #fff;
	font: normal 14px/14px "microsoft yahei";
}

.firstside .sideMain dl dt p {
	margin-top: 10px;
}

.firstside .sideMain dl dt p a {
	color: #ccc;
	padding-right: 8px;
	display: inline-block;
}

.firstside .sideMain dl dt p a:hover {
	color: #e93b39;
	text-decoration: underline;
}

.firstside .sideMain dl dd {
	position: absolute;
	left: 180px;
	top: 0;
	width: 330px;
	border: 2px solid #433b7d;
	border-left: none;
	padding: 0 25px 0 28px;
	min-height: 420px;
	display: none;
	background: #fff;
}

.firstside .sideMain dl dd li {
	background: url(../images/line_1.jpg) repeat-x 0 bottom;
	padding-bottom: 14px;
	margin-bottom: 9px;
}

.firstside .sideMain dl dd .bg0 {
	background: 0;
}

.firstside .sideMain dl dd b {
	display: block;
	padding-top: 12px;
	font-size: 12px;
	font-weight: bold;
	color: #463b7f;
}

.firstside .sideMain dl dd .dlist {
	padding-top: 14px;
	line-height: 17px;
}

.firstside .sideMain dl dd .dlist a {
	display: inline-block;
	color: #333;
}

.firstside .sideMain dl dd .dlist em {
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	padding: 0 6px 0 7px;
}

.firstside .sideMain dl dd .dlist a:hover {
	color: #d32220;
	text-decoration: underline;
}

.firstside .sideMain dl dd li .dlist-btn {
	padding-top: 5px;
}

.firstside .sideMain dl dd li .dlist-btn a {
	display: inline-block;
	width: 120px;
	height: 28px;
	background: #463b7f;
	color: #fff;
	text-align: center;
	line-height: 26px;
	margin: 0 20px 0 0;
}

.ncontainer {
	clear: both;
	width: 100%;
	position: relative;
	z-index: 1;
	background: #fff;
}

.ncontainer .lunbo {
	width: 100%;
	height: 400px;
	position: relative;
	background: #000;
}

.ncontainer .lunbo .lunbo-item {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.item-img{
	width:5052px;
	height:400px;
	position: absolute;
	left:0;
	top:0;
}
.item-img0{
	width:1263px;
	height:400px;
	float:left;
}
.tu-control {
	position: absolute;
	z-index: 20;
	bottom: 10px;
	left: 50%;
	margin-left: 40px;
	filter: Alpha(opacity=50);
	background: #ccc;
	border-radius: 10px;
	padding: 2px 0;
	width: 60px;
	height: 14px;
}

.tu-control .control1 {
	background: #fff;
	text-indent: -20px;
	width: 10px;
	height: 10px;
	line-height: 18px;
	border-radius: 50%;
	display: block;
	float: left;
	margin-left: 8px;
	margin-top:2px;
}

.moveleft {
	width: 48px;
	height: 60px;
	position: absolute;
	left: 20%;
	top: 50%;
	background: url(../images/btn.png);
	z-index: 20;
	margin-top: -20px;
	opacity: 0.5;
}

.moveright {
	width: 48px;
	height: 60px;
	position: absolute;
	right:5%;
	top: 50%;
	background: url(../images/btn.png);
	background-position: -48px 0;
	z-index: 20;
	opacity: 0.5;
	margin-top: -20px;
}

.ncontainer .floor1 {
	width: 1200px;
	padding: 0 0 50px 0;
	margin: 0 auto;
}

.ncontainer .fllist .floor1 {
	width: 1200px;
	overflow: hidden;
	padding-top: 12px;
	text-align: right;
}

.ncontainer .fllist .floor1 p {
	display: inline-block;
	width: 330px;
	height: 198px;
	margin-left: 10px;
}

.floor {
	width: 1200px;
	margin: 0 auto;
}

.floor.m-tip {
	width: 100%;
	position: relative;
}

.m-tip a,
.glo,
.yuan,
.hai,
.zi,
.au,
.hk,
.uk,
.jp,
.eu,
.t2,
.t3,
.pm-logo,
.t5,
.pre,
.next {
	background: transparent url(../images/ico_index2.png) no-repeat scroll 0% 0%;
	display: inline-block;
}

.m-tip a {
	color: #000;
	width: 201px;
	height: 19px;
	margin: 0 auto;
	display: block;
}

.m-tip .t1 {
	background-position: 0 -22px;
	margin-bottom: 10px;
}

.tb {
	text-align: center;
	background: #fff url(../images/dot.png) repeat-x left center;
	height: 35px;
}

.m-tip span {
	display: inline-block;
	font: 14px/35px microsoft yahei;
	color: #333;
	padding: 0 23px;
	background: #fff;
}

.m-tip span li {
	float: left;
	font: 12px/37px microsoft yahei;
	color: #999;
	height: 35px;
	padding: 0 3px;
}

.m-tip .glo {
	width: 38px;
	height: 37px;
	vertical-align: middle;
	margin-right: 5px;
	background-position: 0 -130px;
}

.m-tip .yuan {
	width: 38px;
	height: 37px;
	vertical-align: middle;
	margin-right: 5px;
	background-position: -51px -130px;
}

.m-tip .hai {
	width: 38px;
	height: 37px;
	vertical-align: middle;
	margin-right: 5px;
	background-position: -102px -130px;
}

.m-tip .zi {
	width: 38px;
	height: 37px;
	vertical-align: middle;
	margin-right: 5px;
	background-position: -151px -130px;
}

.winSec {
	padding: 25px 0 27px;
	overflow: hidden;
}

.winSec .sec1 {
	float: left;
	width: 980px;
}

.winSec .sec .sec1-t {
	width: 100%;
	overflow: hidden;
}

.winSec .sec .sec1-b {
	width: 100%;
	overflow: hidden;
	height: 258px;
}

.sec1-b ul li {
	width: 180px;
	padding: 15px 5px 0;
	float: left;
	color: #5d5d5d;
	overflow: hidden;
}

.winSec .sfree {
	height: 20px;
	font: bold 12px/12px microsoft yahei;
	color: #000;
	position: relative;
	padding-left: 42px;
	margin-top: 20px;
}

.sfree em {
	width: 30px;
	height: 20px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.sfree .hk {
	background-position: -32px -206px;
}

.sfree .uk {
	background-position: -63px -206px;
}

.sfree .jp {
	background-position: -94px -206px;
}

.sfree .au {
	background-position: 0 0;
	background: url(../images/ico_index2_1.png) no-repeat;
	display: inline-block;
}

.sfree .eu {
	background-position: -125px -206px;
}

.name-box {
	padding-left: 42px;
}

.name-box a {
	font-family: microsoft yahei;
	color: #333;
}

.winSec .secbrand {
	float: left;
	width: 180px;
	height: 43px;
}

.morebrand a {
	color: #000;
	float: right;
	padding: 13px 0 13px;
}

.brandlogo li {
	width: 180px;
	float: left;
	text-align: center;
	padding-bottom: 42px;
}

.brandlogo .fu {
	width: 178px;
	border: 1px solid #e8e8e8;
	height: 88px;
	margin-bottom: 6px;
	overflow: hidden;
}

.fu a {
	width: 100%;
	height: 88px;
	display: block;
	position: relative;
	overflow: hidden;
}

.fu a i {
	width: 80px;
	overflow: hidden;
	padding: 0 5px;
	height: 100%;
	color: #d33220;
	font: bold 16px/88px microsoft yahei;
	text-align: center;
	position: absolute;
	top: 0;
	right: -90px;
}

.brandlogo p a {
	color: #5D5D5D;
	font: 14px/15px Microsoft Yahei;
	height: 15px;
	display: block;
	overflow: hidden;
	padding: 10px 5px;
}

.floor2 {
	height: 710px;
}

.m-tip a.t2 {
	background-position: 0 -45px;
}

.tb span {
	display: inline-block;
	font: 14px/35px microsoft yahei;
	color: #333;
	padding: 0 23px;
	background: #fff;
}

.salesec {
	padding: 0 0 27px;
}

.moreshop {
	width: 1200px;
	height: 28px;
}

.moreshop a {
	color: #000;
	float: right;
}

.salesec .fivecount {
	width: 567px;
	height: 408px;
	position: relative;
	margin-right: 40px;
	float: left;
}

.fivecount .fivec {
	color: #000;
	text-align: center;
	width: 140px;
	height: 176px;
	padding: 10px 0 0 0;
	margin-top: -88px;
	display: block;
	position: absolute;
	left: 50px;
	top: 50%;
	background: #fff;
}

.discount {
	font: 16px tahoma, Microsoft Yahei;
	height: 17px;
	overflow: hidden;
	padding: 6px 0 12px;
}

.showNow {
	font: 12px Microsoft Yahei;
	border: 1px solid #000;
	padding: 5px 0;
	text-align: center;
	width: 96px;
	display: block;
	margin: 0 auto;
}

.timeout {
	width: 191px;
	height: 19px;
	padding: 2px 0 0 0;
	text-align: center;
	display: block;
	position: absolute;
	left: 0px;
	top: 10px;
	background: #f5f5f5;
}

.timeout b {
	font-family: tahoma;
	font-style: normal;
	font-weight: normal;
}

.fourcount {
	float: left;
	width: 375px;
	height: 408px;
}

.countbot {
	margin-top: 30px;
}

.countflo {
	width: 178px;
	height: 400px;
	text-align: center;
	background: url(../images/sale_06.png) no-repeat;
	color: #333;
	padding-top: 8px;
	float: right;
}

.countflo .imgbox {
	padding: 9px 0 8px;
}

.imgbox span {
	width: 85%;
	font: 12px microsoft yahei;
	color: #000;
	display: block;
	margin: 0 auto;
	white-space: nowrap;
}

.imgbox span b {
	color: #333;
	padding: 1px 0 3px;
	display: block;
}

.col4 {
	width: 100%;
}

.col4 li {
	padding-top: 40px;
}

.col4 li+li {
	margin-left: 24px;
}

.m-tip a.t3 {
	background-position: 0 -67px;
}

.floor3 {
	height: 539px;
}

.xnsection {
	padding: 29px 0 70px;
}

.xnsection .xnleft {
	width: 920px;
	float: left;
}

.xnright {
	float: right;
	width: 241px;
}

.xnright li a:hover,
.pm-more:hover,
.more-link:hover,
.floor a:hover {
	color: rgb(70, 59, 127);
}

.xnright .tit {
	font: 14px Microsoft Yahei;
	padding-bottom: 16px;
}

.xnright li {
	padding-bottom: 16px;
}

.xnright li a {
	height: 15px;
	font: 12px/15px microsoft yahei;
	color: rgb(0, 0, 0);
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

.pm-txt {
	text-align: center;
	margin-top: 120px;
}

.pm-logo {
	background-position: 0px -169px;
	width: 102px;
	height: 33px;
	display: block;
	margin: 24px auto 9px;
}

.pm-more {
	color: rgb(0, 0, 0);
	font: 17px Microsoft Yahei;
}

.pm-txt p {
	color: rgb(153, 153, 153);
	font: 12px microsoft yahei;
	margin-top: 10px;
}

.backage .moreshop {
	height: 32px;
}

.floor4 {
	height: 444px;
}

.pck {
	float: left;
}

.pck li {
	float: left;
}

.pck li .pack {
	color: #333;
	font: 16px/32px Microsoft Yahei;
	padding-right: 23px;
}

.pack1 {
	padding-right: 14px;
	color: #999;
	font: 12px/32px Microsoft Yahei;
}

.pack1 a {
	color: #999;
}

.backsec-left {
	width: 480px;
	height: 329px;
	float: left;
}

.backsec-center {
	width: 237px;
	height: 327px;
	float: left;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	border-left: none;
	cursor: pointer;
}

.backsec-right {
	float: left;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	border-left: none;
	cursor: pointer;
	width: 478px;
}

.backsec-right ul li {
	float: left;
	width: 238px;
	height: 163px;
}

.backsec-right ul .pa1 {
	border-bottom: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}

.backsec-right ul .pa2 {
	border-bottom: 1px solid #E5E5E5;
}

.backsec-right ul .pa3 {
	border-right: 1px solid #E5E5E5;
}

.plike {
	padding: 61px 0 60px;
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

.plike span {
	display: inline-block;
	font: 14px/35px microsoft yahei;
	color: #333;
	padding: 0 23px;
	background: #fff;
}

a.t5 {
	cursor: default;
	background-position: -50px -109px;
	display: block;
	width: 100px;
	position: relative;
	top: 4px;
}

.slidem {
	width: 1200px;
	height: 215px;
	background: none;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.slide {
	width: auto;
	margin: 0 25px;
	height: 215px;
	overflow: hidden;
	position: relative;
}

.slide ul {
	width: 4600px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.slide li {
	width: 190px;
	padding: 0 20px;
	text-align: center;
	background: #fff;
	float: left;
}

.slide p {
	display: block;
	padding-left: 10px;
	color: #333;
	font: 12px microsoft yahei;
	width: 200px;
	height: 15px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 20px;
	text-overflow: ellipsis;
}

.slide span {
	font-size: 12px;
	color: #ccc;
}

.pre {
	left: 0;
	background-position: -235px -23px;
}

.next {
	right: 0;
	background-position: -257px -23px;
}

.slidem .pre,
.slidem .next {
	cursor: pointer;
	width: 21px;
	height: 53px;
	position: absolute;
	z-index: 3;
	top: 79px;
}

#link {
	width: 100%;
	height: 211px;
}

#linkCon {
	width: 1195px;
	height: 183px;
	margin: 0 auto;
	padding: 28px 0 0 5px;
	position: relative;
}

#linkCon dl {
	width: 170px;
	height: 148px;
	float: left;
}

dt {
	font-size: 12px;
	font-weight: 800;
	padding: 6px 0 8px;
	color: #000;
}

dd>div {
	width: 170px;
	height: 23px
}

dd>div>a {
	color: #999;
	font-size: 12px;
}

dd a:hover {
	color: blueviolet;
}

#last_dl {
	width: 298px;
	height: 148px;
}

.last_dec {
	width: 300px;
	font-size: 12px;
	line-height: 22px;
	color: #000;
}

.last_link {
	width: 178px;
	margin-top: 25px;
}

.last_link a {
	display: block;
	float: left;
	margin-bottom: 5px;
	width: 89px;
	font-size: 12px;
	color: #999;
}

.app {
	font-size: 12px;
	font-weight: 800;
	color: #000;
	position: absolute;
	left: 1135px;
	top: 38px;
}


/*bottombg*/

#bottombg {
	width: 100%;
	height: 40px;
	background: #463B7F;
}

#bottombg_con {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}


/*footer*/

#footer {
	width: 100%;
	height: 224px;
	background: #F5F5F5;
	color: #999;
}

.footer_con {
	width: 1200px;
	height: 224px;
	background: #f5f5f5;
	margin: 0 auto;
}

.footer_con_left {
	width: 928px;
	height: 224px;
	float: left;
}

.website_map {
	margin-top: 30px;
}

.website_map>a {
	font-size: 12px;
	float: left;
	margin-right: 20px;
	color: #999;
}

.site_info {
	display: inline-block;
	margin-top: 14px;
}

.site_info>li {
	height: 20px;
	float: left;
	color: #999;
	font-size: 12px;
	margin-right: 20px;
	line-height: 20px;
}

.site_info>li>.cn_info {
	background: url(../img/cn_info_bg.png) no-repeat left 0;
	display: block;
	height: 20px;
	padding-left: 20px;
	color: #999;
}

.index_icp>span {
	float: left;
}

.friend_link {
	margin-top: 5px;
	display: inline-block;
}

.friend_link>a {
	font-size: 12px;
	float: left;
	margin-right: 20px;
	color: #999;
}

.copy_info {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
}

.index_icp {
	margin-top: 15px;
}

.index_icp>span {
	margin-right: 15px;
}

.footer_con_right {
	width: 272px;
	height: 224px;
	float: right;
}

.erweima_bg>li {
	padding-top: 60px;
	margin-right: 40px;
	float: left;
}

.erweima_bg>li dd {
	font-size: 12px;
	color: #999;
	width: 80px;
	text-align: center;
}