html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-size: 12px;
	font-family: tahoma, arial, 宋体, sans-serif;
}

html {
	width: 100%;
}

.sideright {
	width: 80px;
	height: 500px;
	background: rgba(255, 255, 255, .80);
	position: fixed;
	right: 0;
	top: 50%;
	margin: -250px 0 0 0px;
	z-index: 3333;
	display: none;
}

.siderc {
	width: 75px;
	height: 30px;
	line-height: 30px;
	display: block;
	position: relative;
	cursor: pointer;
	color: #000;
}

#header {
	width: 100%;
	position: relative;
	z-index: 62;
	background: #fff;
	height: 163px;
}

.topBar {
	width: 100%;
	height: 30px;
	position: relative;
	background: #fff;
}

.topNav {
	height: 30px;
	position: relative;
}

.topLogo {
	position: absolute;
	left: 50%;
	top: 16px;
	width: 205px;
	height: 135px;
	margin-left: -615px;
}

.topNav .topnav {
	padding-left: 620px;
}

.topNav .topnav li {
	float: left;
}

.topNav .topnav a {
	padding: 0 18px;
}

.topNav .topnav a {
	color: #999999;
	line-height: 30px;
}

.topNav .topnav .zhuce,
.fous {
	border-right: 1px solid #999999;
}

.topNav .topnav .focus {
	position: relative;
}

.topNav .topnav .focus .san {
	position: absolute;
	top: 5px;
	right: 8px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #999;
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.topNav .topnav .focus:hover {
	webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.topNav .topnav .gou {
	background: url(../images/p_07_new.png)no-repeat 8px center;
	padding-left: 24px;
}

.topLogo .logo {
	margin: 18px;
	width: 42px;
	height: 100px;
}

.secoo {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #fff url(../images/secoo_min_logo.png) no-repeat center;
	top: 0;
	left: 0;
	z-index: 92;
	display: none;
	box-shadow: 0 0 3px #ccc;
}

.searchs {
	margin-left: 300px;
	position: absolute;
	left: 0;
	top: 8px;
}

.searchs .txt1 {
	width: 584px;
	height: 29px;
	line-height: 25px;
	border: 0;
	color: #999;
	font-family: "宋体";
	border: 2px solid #463b7f;
}

.searchs .btn1 {
	width: 69px;
	height: 35px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	background: #463B7F;
	border: none;
	margin-left: -5px;
	font-size: 14px;
}

.searchBar {
	width: 1200px;
	margin: 0 auto;
	height: 133px;
	position: relative;
	z-index: 89;
}

.searchBar .searchC {
	position: absolute;
	left: 249px;
	top: 25px;
	z-index: 5;
}

.searchBar .searchC .txt {
	width: 392px;
	height: 29px;
	line-height: 25px;
	border: 0;
	color: #999;
	font-family: "宋体";
	border: 2px solid #463b7f;
}

.searchC .btn {
	width: 69px;
	height: 35px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	background: #463B7F;
	border: none;
	margin-left: -5px;
	font-size: 14px;
}

.searchHot {
	position: absolute;
	left: 249px;
	top: 70px;
	z-index: 5;
}

.searchHot .searchH li {
	float: left;
}

.searchHot .searchH li a {
	color: #999999;
	margin-right: 25px;
}

.searchHot .searchH li a:hover {
	color: #e93b39;
	text-decoration: underline;
}

.headnav {
	position: absolute;
	right: 25px;
	bottom: 0;
	overflow: hidden;
	width: 926px;
	height: 25px;
	padding-top: 20px;
}

.headnav li {
	float: left;
}

.headnav li a {
	color: #333;
	margin: 0 20px;
	font: 14px/20px "microsoft yahei";
	text-align: center;
	height: 25px;
}

.headnav li a:hover,
.brandlogo p a:hover,
.morebrand a:hover {
	color: #463B7F;
	cursor: pointer;
}

.headnav li .home {
	margin-left: 0;
}

.headnav li .free {
	position: relative;
}

.headnav li .free img {
	position: absolute;
	top: -15px;
	right: -20px;
}

#link {
	width: 100%;
	height: 211px;
}

#linkCon {
	width: 1195px;
	height: 183px;
	margin: 0 auto;
	padding: 28px 0 0 5px;
	position: relative;
}

#linkCon dl {
	width: 170px;
	height: 148px;
	float: left;
}

dt {
	font-size: 12px;
	font-weight: 800;
	padding: 6px 0 8px;
	color: #000;
}

dd>div {
	width: 170px;
	height: 23px
}

dd>div>a {
	color: #999;
	font-size: 12px;
}

dd a:hover {
	color: blueviolet;
}

#last_dl {
	width: 298px;
	height: 148px;
}

.last_dec {
	width: 300px;
	font-size: 12px;
	line-height: 22px;
	color: #000;
}

.last_link {
	width: 178px;
	margin-top: 25px;
}

.last_link a {
	display: block;
	float: left;
	margin-bottom: 5px;
	width: 89px;
	font-size: 12px;
	color: #999;
}

.app {
	font-size: 12px;
	font-weight: 800;
	color: #000;
	position: absolute;
	left: 1135px;
	top: 38px;
}


/*bottombg*/

#bottombg {
	width: 100%;
	height: 40px;
	background: #463B7F;
}

#bottombg_con {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}


/*footer*/

#footer {
	width: 100%;
	height: 224px;
	background: #F5F5F5;
	color: #999;
}

.footer_con {
	width: 1200px;
	height: 224px;
	background: #f5f5f5;
	margin: 0 auto;
}

.footer_con_left {
	width: 928px;
	height: 224px;
	float: left;
}

.website_map {
	margin-top: 30px;
}

.website_map>a {
	font-size: 12px;
	float: left;
	margin-right: 20px;
	color: #999;
}

.site_info {
	display: inline-block;
	margin-top: 14px;
}

.site_info>li {
	height: 20px;
	float: left;
	color: #999;
	font-size: 12px;
	margin-right: 20px;
	line-height: 20px;
}

.site_info>li>.cn_info {
	background: url(../img/cn_info_bg.png) no-repeat left 0;
	display: block;
	height: 20px;
	padding-left: 20px;
	color: #999;
}

.index_icp>span {
	float: left;
}

.friend_link {
	margin-top: 5px;
	display: inline-block;
}

.friend_link>a {
	font-size: 12px;
	float: left;
	margin-right: 20px;
	color: #999;
}

.copy_info {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
}

.index_icp {
	margin-top: 15px;
}

.index_icp>span {
	margin-right: 15px;
}

.footer_con_right {
	width: 272px;
	height: 224px;
	float: right;
}

.erweima_bg>li {
	padding-top: 60px;
	margin-right: 40px;
	float: left;
}

.erweima_bg>li dd {
	font-size: 12px;
	color: #999;
	width: 80px;
	text-align: center;
}