body,
html,
div,
dl,
dt,
dd,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
p,
th,
td,
a,
img,
span {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: tahoma, arial, 宋体, sans-serif;
}

img {
	border: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.zHeader {
	height: 70px;
	width: 100%;
	filter: alpha(opacity=80);
	background-color: #000;
	background: rgba(0, 0, 0, 0.8);
}

.sHeader {
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}

.sHeaderleft {
	width: 30px;
	height: 70px;
	float: left;
}

.sHeaderRight {
	float: right;
}

.center {
	width: 1200px;
	margin: 0 auto;
}

.centerbox {
	width: 990px;
	margin: 0 auto;
	padding: 30px 0;
}

.cartbox {
	display: block;
}

.cartlist {
	width: 986px;
	border: 1px solid #f1f1f1;
	padding: 1px;
	background: #fff;
	position: relative;
	z-index: 1;
}

.carttable {
	width: 100%;
	color: #666;
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	background: #ccc;
}

tr th {
	height: 48px;
	font-weight: normal;
	color: #999;
	border-bottom: 1px solid #fff;
}

.cartrow {
	width: 986px;
	height: 118px;
}

tbody tr td {
	padding: 20px 0 15px;
	background: #fdf0ef;
	border-top: 1px solid #ececec;
	text-align: center;
	line-height: 22px;
	margin-top: -1px;
}

.padRight15 {
	padding-right: 15px;
	float: left;
}

.cartPic img {
	border: 1px solid #ececec;
}

.namePro {
	width: 255px;
	overflow: hidden;
	position: static;
	left: -81px;
	text-align: left;
}

.countnum {
	width: 58px;
	margin: 0 auto 2px;
	overflow: hidden;
}

.cdes,
.cadd {
	width: 11px;
	height: 18px;
	line-height: 16px;
	text-align: center;
	color: #666;
	padding-right: 1px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #eaeaea;
	float: left;
}
.Num {
	width: 30px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border: 1px solid #eaeaea;
	border-left: 0;
	border-right: 0;
	color: #666;
	float: left;
}

.del {
	color: #333;
}

.del:hover {
	color: #e93b39;
	text-decoration: underline;
}

.cartprice {
	padding: 15px 45px 25px 30px;
	margin-top: 6px;
	position: relative;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	color: #333;
	margin-top: 30px;
	height: 100px;
	text-align: right;
}

.clearprice {
	text-align: right;
	padding: 4px 0;
	color: #333;
	margin-top: 50px;
}

.a01 {
	padding: 5px 15px;
	border: 1px solid #e93b39;
	color: #e93b39;
	background: none;
	margin-top: 12px;
	float: left;
}

.a02 {
	padding: 10px 40px;
	color: #999;
	background-color: #e4e4e4;
	font-weight: bold;
	font-size: 14px;
	font-family: microsoft yahei;
	float: right;
}
.a02:hover {
	color: #fff;
	background-color: #d32220;
}