body,
html,
div,
dl,
dt,
dd,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
p,
th,
td,
a,
img,
span {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: tahoma, arial, 宋体, sans-serif;
}
img {
	border: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
.zHeader{
	height: 70px;
    width: 100%;
    filter: alpha(opacity=80);
    background-color: #000;
    background: rgba(0,0,0,0.8);
}
.sHeader{
	width:1200px;
	height:70px;
	margin:0 auto;
}
.sHeaderleft{
	width:30px;
	height:70px;
	float:left;
}
.sHeaderRight{
	float:right;
}
.sHeaderRight a{
	color:#999;
	display: inline-block;
	line-height: 70px;
	padding: 0 10px;
}
.sHeaderRight a:hover{
	color:#c69c6d;
}
.zcontainer{
	padding:30px 0;
	width:100%;
	background: url(../images/login_03.jpg);
}
.reg-box{
	width: 1200px;
	margin: 0 auto;
	height: 720px;
}
.reg-content{
	width: 310px;
	padding: 30px 35px;
	float: right;
	background-color: #fff;
	margin-top: 80px;
	position: relative;
}
.reg-tip{
	width:100%;
}
.t-right{
	width: 60px;
	height: 40px;
	line-height: 40px;
	color: #666;
	float: left;
	display: block;
}
.regName1,.regName2,.regName3,.regName4,.regName5{
	width: 240px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	font-family: microsoft yahei;
	float:right;
	
}
.print{
	z-index:2;
	position: relative;
}
.reg-in{
	width: 298px;
	height: 20px;
	line-height: 20px;
	padding: 10px 5px;
	border: 1px solid #dedede;
	font-size: 14px;
	font-weight: bold;
	font-family: 'microsoft yahei';
}
#vip{
	position:relative;
	top:3px;
	margin-right:3px;
}
.fz{
	width: 70px;
	height: 24px;
	margin: 23px 0 0 10px;
	
}
.login-btn{
	width: 100%;
    background-color: #f19108;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-top:10px;
}
.procheck{
width: 100%;
height: 20px;
line-height: 20px;
padding: 5px 0;
color: #999;
}
#read{
position: relative;
top: 3px;
margin-right: 2px;
}
.submit p a{
	color:#999;
}
.msg{
	padding-top: 30px;
	width:100%;
}
.msg span{
	color:#999;
}
.msg a{
	color:#f19108;
}
#link {
	width: 100%;
	height: 211px;
}

#linkCon {
	width: 1195px;
	height: 183px;
	margin: 0 auto;
	padding: 28px 0 0 5px;
	position: relative;
}

#linkCon dl {
	width: 170px;
	height: 148px;
	float: left;
}

dt {
	font-size: 12px;
	font-weight: 800;
	padding: 6px 0 8px;
	color: #000;
}

dd>div {
	width: 170px;
	height: 23px
}

dd>div>a {
	color: #999;
	font-size: 12px;
}

dd a:hover {
	color: blueviolet;
}

#last_dl {
	width: 298px;
	height: 148px;
}

.last_dec {
	width: 300px;
	font-size: 12px;
	line-height: 22px;
	color: #000;
}

.last_link {
	width: 178px;
	margin-top: 25px;
}

.last_link a {
	display: block;
	float: left;
	margin-bottom: 5px;
	width: 89px;
	font-size: 12px;
	color: #999;
}

.app {
	font-size: 12px;
	font-weight: 800;
	color: #000;
	position: absolute;
	left: 1135px;
	top: 38px;
}


/*bottombg*/

#bottombg {
	width: 100%;
	height: 40px;
	background: #463B7F;
}

#bottombg_con {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}


/*footer*/

#footer {
	width: 100%;
	height: 224px;
	background: #F5F5F5;
	color: #999;
}

.footer_con {
	width: 1200px;
	height: 224px;
	background: #f5f5f5;
	margin: 0 auto;
}

.footer_con_left {
	width: 928px;
	height: 224px;
	float: left;
}

.website_map {
	margin-top: 30px;
}

.website_map>a {
	font-size: 12px;
	float: left;
	margin-right: 20px;
	color: #999;
}

.site_info {
	display: inline-block;
	margin-top: 14px;
}

.site_info>li {
	height: 20px;
	float: left;
	color: #999;
	font-size: 12px;
	margin-right: 20px;
	line-height: 20px;
}

.site_info>li>.cn_info {
	background: url(../img/cn_info_bg.png) no-repeat left 0;
	display: block;
	height: 20px;
	padding-left: 20px;
	color: #999;
}

.index_icp>span {
	float: left;
}

.friend_link {
	margin-top: 5px;
	display: inline-block;
}

.friend_link>a {
	font-size: 12px;
	float: left;
	margin-right: 20px;
	color: #999;
}

.copy_info {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
}

.index_icp {
	margin-top: 15px;
}

.index_icp>span {
	margin-right: 15px;
}

.footer_con_right {
	width: 272px;
	height: 224px;
	float: right;
}

.erweima_bg>li {
	padding-top: 60px;
	margin-right: 40px;
	float: left;
}

.erweima_bg>li dd {
	font-size: 12px;
	color: #999;
	width: 80px;
	text-align: center;
}